.input-field{
    width: 450px;
    height: 50px;
    border-radius: 15px;
    margin-top: 150px;
    font-size: 30px;
    /* opacity:0.5; */
}
/* .container-fluid{
    height: 100%;
} */
/* .header{
    color: black;
} */
h1{
    font-weight: bolder;
    text-align: center;
}
h2{
    padding: 20px;
    color: black;
    font-weight: 500;
    font-size: 35px;
    font-family: 'middleton';
}
/* body{
    font-family: 'middleton';
    background: url(../img/image5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */
body{
    margin: 0;
    font-family: 'middleton';
    /* background-color: linear-gradiet(300deg, #757b87, #909d9d); */
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    flex-direction:column;
    background-size: cover;
    color: black;
    background-image: url(/img/image5.jpg);
    
    }